<div class="client_menu menu">
	<%= link_to root_path do %>
		<div class="menu_logo"></div>
	<% end %>
	<div class="menu_links">
		<%= link_to "Cliënt", client_path %>
		<%= link_to "FAQ", faq_path %>
		<%= link_to "Contact", contact_path %>
	</div>
</div>
<div class="content">
	<div class="info">
		<h1 class="client">Een antwoord op uw vraag?</h1>
		<p>Wij zijn er voor antwoorden op uw vragen die te maken hebben met een verstandelijke of lichamelijke beperking, chronische ziekte, niet aangeboren hersenletsel of autisme. Van uzelf, uw partner, uw kind, gezinslid of iemand anders in uw naaste omgeving.</p>
		<p>
		Op sommige, eenvoudige vragen krijgt u direct antwoord wanneer u belt. Als dat niet mogelijk is, neemt een consulent van MEE later contact met u op voor een afspraak. De consulent vraagt u om iemand mee te nemen naar de afspraak. Dit kan uw partner zijn, maar ook een goede vriendin, of de buurman. De consulent bekijkt tijdens dit eerste gesprek samen met u wat uw vraag of probleem precies is.
		</p>
		<p>We helpen u om uw problemen zelf te lossen. De meeste mensen kunnen meer dan zij zelf denken, is onze ervaring. MEE kijkt samen met u wat u nodig heeft om zelf verder te komen. We ondersteunen u waar nodig. </p>
		<p>
		We kijken samen met u welke mensen in uw omgeving mee kunnen denken over oplossingen. Zoals familie, vrienden, kennissen, buren of collega’s. Zij kunnen meehelpen aan oplossingen en u zorgen uit handen nemen. Hulp vragen is niet altijd makkelijk. Maar mensen die hulp vragen staan wél een stuk sterker. Onze consulenten bouwen daarom samen met u aan uw netwerk. We helpen u met het organiseren van bijeenkomsten met de mensen in uw netwerk en met een plan voor de toekomst. Als u meer hulp of ondersteuning nodig heeft, helpen wij u dat te regelen.
		</p>
	</div>
</div>
