<div class="top_bar">
	<div class="logo"></div>
	<div class="top_bar_text">
		<p>
			<%= @page.content.html_safe %>
		</p>
	</div>
</div>
<div class="client_image"></div>
<div class="client_bar">
	<div class="vertical_center">
		Cliënt
	</div>
</div>
<%= link_to professionals_path do %>
	<div class="business_image"></div>
	<div class="business_bar">
		<div class="vertical_center">
			Bedrijf
		</div>
	</div>
<% end %>
<%= link_to gemeenten_path do %>
	<div class="city_image"></div>
	<div class="city_bar">
		<div class="vertical_center">
			Gemeente
		</div>
	</div>
<% end %>
