<h1>Samen Op Weg pagina</h1>
Op deze pagina kun je gewoon een simpel formulier neerzetten dat nergens naar toe gaat of zo.

<form>
	<label for="name">Naam</label><br>
	<input type="text"><br>
	<br>
	<label for="E-mail">E-mail adres</label><br>
	<input type="text"><br>
	<br>

	<label for="Bericht">Bericht</label><br>
	<input type="textarea"><br>
</form>
