h1 {
	font-family: "Exo 2", sans-serif;
	font-size: 18pt;
	margin-bottom: 10px;	
}
p {
	margin-bottom: 10px;
}
a {
	color: black;
}
a:hover {
	text-decoration: underline;
}
.city_link:hover {
	color: #66AABF;
}
.professionals_link:hover {
	color: #95C11E;
}
.client_link:hover {
	color: #684494;
}
.rest_link:hover {
	color: #EF8016
}
.top_bar, .client_bar, .business_bar, .city_bar {
	position: absolute;
	color: white;
	width: 100%;
	height: 25%;
	right: 0;
	text-align: center;
	float: left;
	font-family: 'Exo 2', sans-serif;
	font-weight: bold;
	font-size: 2.5em;
	z-index: 0;
	transition: width 0.5s ease;
}
.client_bar:hover, .client_image:hover ~ .client_bar {
	width: 75%;
}
.business_bar:hover, .business_image:hover ~ .business_bar {
	width: 75%;
}
.city_bar:hover, .city_image:hover ~ .city_bar {
	width: 75%;
}
.top_bar {
	background-color: #EF8016;
	top: 0;
}
.logo {
	position: relative;
	width: 25%;
	height: 70%;
	left: 20px;
	top: 20px;
	background: url('/assets/logo.png') no-repeat;
	background-size: contain;
	float: left;
}
.top_bar_text {
	position: absolute;
	right: 20px;
	top: 15px;
	width: 65%;
	left: 30%;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12pt;
}
strong {
	font-weight: bold;
}
.client_bar {
	background-color: #684494;
	top: 25%;
}
.business_bar {
	background-color: #95C11E;
	top: 50%;
}
.city_bar {
	background-color: #66AABF;
	top: 75%;
}
.vertical_center {
	position: absolute;
	margin: auto;
	top: -20px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 10%;
}
.client_image, .business_image, .city_image {
	position: absolute;
	width: 25%;
	height: 25%;
	left: 0;
	z-index: -10;
}
.client_image {
	top: 25%;
	background: url('/assets/client.png') no-repeat;
	background-size: cover;
}
.business_image {
	top: 50%;
	background: url('/assets/business.jpg') no-repeat;
	background-size: cover;
}
.city_image {
	top: 75%;
	background: url('/assets/cityhall.jpg') no-repeat;
	background-size: cover;
}

.client_menu {
	background-color: #684494;
}
.gemeente_menu {
	background-color: #66AABF;
}
.professionals_menu {
	background-color: #95C11E;
}
.rest_menu {
	background-color: #EF8016;
}
.menu {
	float: left;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	color: white;
	font-family: "Exo 2", sans-serif;
}
.menu a {
	color: white;
	text-decoration: none;
	margin-right: 20px;
}
.menu a:hover {
	text-decoration: underline;
}
.menu_logo {
	height: 30px;
	width: 100px;
	background: url('/assets/logo.png') no-repeat;
	background-size: contain;
	margin: 10px 0 0 10px;
	float: left;
}
.menu_links {
	float: right;
	margin: 15px 0 0;
}

.content {
	width: 95%;
	float: left;
	padding: 10px;
	font-family: "Open Sans", sans-serif;
}
.gemeente {
	color: #66AABF;
}
.professionals {
	color: #95C11E
}
.client {
	color: #684494;
}
.rest {
	color: #EF8016;
}
.info {
	width: 100%;
	margin-bottom: 10px;
}
.documentation {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}
.referentie {
	width: 50%;
	float: left;
}
.adress {
	margin-bottom: 10px;
}

.professionals_buttons {
	float: left;
	width: 100%;
}
.professionals_buttons a {
	display: inline-block;
	height: 50px;
	width: 30%;
	background-color: #95C11E;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 30px;
}
.professionals_buttons a:hover {
	background-color: #7CA805;
}
form label {
	display: inline-block;
	font-weight: bold;
	font-size: 12pt;
	font-family: "Open Sans", sans-serif;
	margin-bottom: 5px;
}
form input[type="text"] {
	width: 300px;
	border: solid 1px black;
	outline: none;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	font-family: "Open Sans", sans-serif;
	font-size: 10pt;
}
form textarea {
	width: 300px;
	border: solid 1px black;
	outline: none;
	height: 100px;
	line-height: 30px;
	margin-bottom: 10px;
	font-family: "Open Sans", sans-serif;
	font-size: 10pt;
}
form input:focus, form textarea:focus {
	border: solid 1px #95C11E;
}
.opweg_button {
	height: 30px;
	width: 150px;
	border: none;
	background-color: #95C11E;
	border-radius: 5px;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 10pt;
	outline: none;
}
.rest_button {
	height: 30px;
	width: 150px;
	border: none;
	background-color: #EF8016;
	border-radius: 5px;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-size: 10pt;
	outline: none;	
}
.rest_form input:focus, form textarea:focus {
	border: solid 1px #EF8016;
}
ul {
	margin-bottom: 10px;
}













